.list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
}

.priceIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.heightScroll {
  height: 800px;
  overflow-y: scroll;
}
