@font-face {
  font-family: "JetBrainsMono-Regular";
  src: local("JetBrainsMono-Regular"),
    url("../../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.styleIconBurger {
  display: flex;
  align-items: center;
  flex-basis: 10%;
}

.styleIcon {
  display: flex;
  align-items: center;
  flex-basis: 10%;
}

.styleIcon15 {
  composes: styleIcon;
  flex-basis: 15%;
}

.logo {
  composes: styleIcon;
  flex-basis: 33%;
}

.linkStyle {
  font-family: "JetBrainsMono-Regular";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #8585ad;
  margin-left: 11px;
}

.activeLink {
  color: white;
}
