.scroll {
  overflow-y: scroll;
  height: 600px;
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
}

.marginRight44 {
  margin-right: 44px;
}

.container {
  width: 500px;
  height: 600px;
}
